body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #fff;
  
}

h1 {
  color: #66BFBF;
  font-size: 45px;
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}

p {
  line-height: 2;
  text-align: justify;
  hyphens: manual;  
  overflow: hidden;
}

ul {
  line-height: 2;
  text-align: left;
  padding-left: 16px;
  overflow: hidden;
}

li {
  align-content: center;
}


hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

#top {
  background: #27549B;
  
}

.top-container {
  background-color: #27549B;
  position: relative;
  padding-top: 100px;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  animation: fadeIn 0.5s ease-out forwards;
}


.middle-container {

  padding-top: 5em;
  padding-bottom: 5em;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 13px;
  padding-right: 13px;
}


.bottom-container {
  background-color: #27549B;
  padding: 50px 0 20px;
}


.profile {
  width: 100%;
}

.skill-row {
  width: 100%;
  padding-top: 5rem;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  max-width: 480px;
}

.cloud-box {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.contact-message {
  max-width: 480px;
  margin: 40px auto 60px;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
}

.contact-icon {
  font-size: 60px;
  display: inline-grid;

}

.logo-text {
  font-size: 16px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  text-align: center;
}

.top-cloud {
  position: relative;
  right: -13em;
}


.bottom-cloud {
  position: relative;
  left: -12em;

}

.sun-box {
  width: 120px;
  height: 120px;
  display: inline-grid;
}


.sun {
  text-align: center;
  width: 100%;
  height: auto;
  animation-name: spin;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nt-box{
  max-width: 350px;
  position: relative;
  margin: 0 auto; 
}

.slogan {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0px auto 50px auto;

}

.slogan p{
  text-align: center;
}

#casa-box{
  margin: 0 auto;
  max-width: 540px;
}

.casa {
  width: 100%;
  position: relative;
  top: 162px;
  margin-top: -160px;
}


.icon0-img {
  width: 250px;

}


.icon1-img {
  width: 300px;

}

.icon2-img {
  width: 240px;

 
}

.icon3-img {
  width: 240px;

 
}

.insta-img{
  width: 200px;
}

.clearing { clear: both; }


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Device support */

@media (min-width: 520px) {

p {
  hyphens: none;  
}

.middle-container{
  padding-left: 30px;
  padding-right: 30px;
}

}


@media (min-width: 720px) {

.contact-me p{
  text-align: center;
}

.profile p{
  text-align: center;
}

.top-cloud {
  right: -24em;
}


.bottom-cloud {
  left: -24em;
}

.skill-col{
  display:grid;
  grid-template-columns: repeat(2, 280px);
}

.icon0-img {

  float: left;
  margin-right: 30px;
 
}

.icon1-img {

  float: right;
  margin-left: 30px;
}

.icon2-img {

  float: left;
  margin-right: 30px;
 
}

.icon3-img {

  float: right;
  margin-left: 30px;
}



.skill-row{
  text-align: left;
}

.middle-container{
  padding-left: 30px;
  padding-right: 30px;
}
}
/* Animations */

@keyframes fadeIn {

  0% { opacity: 0; }
  100% { opacity: 1; }

}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}